#label {
text-align: center;
/*background-color: #00ff00;*/

}
#login_inp{
height: 26px;
font-size: 1.3858em;
 padding: 10px;
border: 1px solid #c3cfd8;
margin: 0;
border-radius: 6px;
box-sizing: border-box;
font-style: normal;
background-color: #ffffff;
border: 1px solid #cccccc;
box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
transition: all .2s;
padding-left:20px;
color: #474747;
}
#passw_inp{

height: 26px;
font-size: 1.3858em;
 padding: 10px;
border: 1px solid #c3cfd8;
margin: 0;
border-radius: 6px;
box-sizing: border-box;
font-style: normal;
background-color: #ffffff;
border: 1px solid #cccccc;
box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
transition: all .2s;
padding-left:20px;
color: #474747;
}
#passw_inp_2{

height: 26px;
font-size: 1.3858em;
 padding: 10px;
border: 1px solid #c3cfd8;
margin: 0;
border-radius: 6px;
box-sizing: border-box;
font-style: normal;
background-color: #ffffff;
border: 1px solid #cccccc;
box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
transition: all .2s;
padding-left:20px;
color: #474747;
}
#enter_btn{

        box-sizing: border-box;
        padding: 0 25px;
        outline: none;
        border: 1px solid #fff;
        border-radius: 4px;
        height: 46px;
        line-height: 46px;
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
        color: #444;
        background-color: #fff;

}
#enter_btn:hover{
color: #FFFFFF;
background-color: #808080;
border: 1px solid #808080;
border-radius: 4px;
}



#reg_lbl,#forgot_lbl{
text-align:center;
text-decoration:underline;
color:gray;
width : auto;
height: auto;
}
#reg_lbl:hover,#forgot_lbl:hover{

color:black;
}




QScrollBar:vertical {
background-color: #DBE9FF;
     width: 15px;
     margin: 15px 3px 15px 3px;
     border: 1px transparent #DBE9FF;
     border-radius: 4px;


        }
/*QScrollBar:horizontal {
            border: none;
            background: gray;
            border-radius: 1px;
            height: 2px;
            margin: 0px 0px 0px 0px;
        }*/

QScrollBar::handle:vertical
{
    background-color: #9400D3;         /* #605F5F; */
    min-height: 5px;
    border-radius: 4px;
}

QScrollBar::sub-line:vertical
{
    margin: 3px 0px 3px 0px;
    border-image: url(:/qss_icons/rc/up_arrow_disabled.png);
    height: 10px;
    width: 10px;
    border-radius: 4px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::add-line:vertical
{
    margin: 3px 0px 3px 0px;
    border-image: url(:/qss_icons/rc/down_arrow_disabled.png);
    height: 10px;
    width: 10px;
    border-radius: 4px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical:hover,QScrollBar::sub-line:vertical:on
{

    border-image: url(:/qss_icons/rc/up_arrow.png);
    height: 10px;
    width: 10px;
    border-radius: 4px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}


QScrollBar::add-line:vertical:hover, QScrollBar::add-line:vertical:on
{
    border-image: url(:/qss_icons/rc/down_arrow.png);
    height: 10px;
    width: 10px;
    border-radius: 4px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical
{
    background: none;
}


QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical
{
    background: #F3F6FB;
}



QHeaderView {
    background-color: #fff;
    font-size:13px;
}
QHeaderView::section:horizontal {
    color: #fff;
    border-style: solid;
    background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
                                        stop: 0 #4287ff, stop: 1 #356ccc);
 }
QTableView {
    border: 2px solid #3873d9;
    border-top-color: #4287ff;
    border-radius: 4px;
    background-color: #fff;
    background-image: url(:/img/other/background.png);
    gridline-color: #777;
    selection-background-color: #ccdfff;
    color:#333;
    font-size:12px;
 }

#img{
width: 30px;
height:30px;
}
/*========================================WorkWindow-items-search=>>>==============================================================*/
/* BG */
#bgitems{
background-color: green !important;

}

QPushButton{

    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
        text-decoration:none;
    font-size: 14px;
    line-height: 20px;

    padding: 4px 12px;
    text-align: center;

    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

QPushButton:hover{
border:1px solid teal;

}

QPushButton:pressed{
border:2px solid teal;

}



















QComboBox {
    border: 1px solid gray;
    border-radius: 3px;
    padding: 1px 18px 1px 3px;
    min-width: 6em;
}

QComboBox:editable {
    background: white;
}

QComboBox:!editable, QComboBox::drop-down:editable {
     background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                 stop: 0 #E1E1E1, stop: 0.4 #DDDDDD,
                                 stop: 0.5 #D8D8D8, stop: 1.0 #D3D3D3);
}

/* QComboBox gets the "on" state when the popup is open */
QComboBox:!editable:on, QComboBox::drop-down:editable:on {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #D3D3D3, stop: 0.4 #D8D8D8,
                                stop: 0.5 #DDDDDD, stop: 1.0 #E1E1E1);
}

QComboBox:on { /* shift the text when the popup opens */
    padding-top: 3px;
    padding-left: 4px;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;

    border-left-width: 1px;
    border-left-color: darkgray;
    border-left-style: solid; /* just a single line */
    border-top-right-radius: 3px; /* same radius as the QComboBox */
    border-bottom-right-radius: 3px;
}

QComboBox::down-arrow {
    image: url(/usr/share/icons/crystalsvg/16x16/actions/1downarrow.png);
}

QComboBox::down-arrow:on { /* shift the arrow when popup is open */
    top: 1px;
    left: 1px;
}



/*QSpinBox {padding-left: 17px; color: white; \
border: 2px groove #CD5728; border-radius: 5px; \
text-color: black; } \
\
QSpinBox::up-button {subcontrol-origin: margin; subcontrol-position: top left; \
background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #FDFDFC, stop: 1 #F7F7F6); \
border-top-left-radius: 5px; border-width: 1px; width: 14px; \
border-left: 1px solid #BEBEBE; border-top: 1px solid #BEBEBE; border-right: 1px solid #BEBEBE; border-bottom: 0px;} \
\
QSpinBox::down-button {subcontrol-origin: margin; subcontrol-position: bottom left; \
background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #F7F7F6, stop: 1 #E4E2E0); \
border-bottom-left-radius: 5px; border: 1px solid red; width: 14px; \
border-left: 1px solid #BEBEBE; border-bottom: 1px solid #BEBEBE; border-right: 1px solid #BEBEBE; border-top: 0px;} \
\
QSpinBox::up-arrow { background-color: transparent; border-left: 2px solid none; \
border-right: 2px solid none; border-bottom: 2px solid #808080; width: 0px; height: 0px; } \
\
QSpinBox::down-arrow { background-color: transparent; border-left: 3px solid none; \
border-right: 3px solid none; border-top: 3px solid #808080; width: 0px; height: 0px; } \
\
QSpinBox::up-button:pressed { background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #D1CECC, stop: 1 #EEEDEC); } \
\
QSpinBox::down-button:pressed { background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,  stop: 0 #D2D0CC, stop: 1 #E9E7E6); } \*/



QTabWidget::pane {
  border: 1px solid lightgray;
  top:-1px;
  background: white;
}


QTabBar::tab {
  background: rgb(230, 230, 230);
  border: 1px solid lightgray;
  padding: 5px;
}



QTabBar::tab:selected {
  background: rgb(245, 245, 245);
  margin-bottom: -1px;
}





#img_r,#t_img_r_2{
padding-left:45px;
padding-bottom:10px;
}

#lbl_hist,#lbl_hist_2{
width:50px;
text-align:center;
font-weight:bold;
}

#sort_mode,#sort_mode_{
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
border-radius: 3px;
border-style: solid;
border-width: 1px;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
color: #333333;
    text-decoration:none;
font-size: 14px;
line-height: 20px;

padding: 4px 12px;
text-align: center;

text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
vertical-align: middle;

}




/*search_request*/
#search_request,#tsearch_request_,#search_request_,#tab_8 QPlainTextEdit,#tab_8 QLineEdit,#tab_8 QTextBrowser{
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
border-radius: 3px;
border-style: solid;
border-width: 1px;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
background-color: #fff;

padding:5px;
padding-left:15px;
padding-right:10px;


color:#526060;

text-align: left;

font-family: 'Open Sans', sans-serif;
font-size: 12px;
min-height:15px;
}
#tab_8 QTextBrowser{
border:none;
}

/*QLineEdit{
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
border-radius: 3px;
border-style: solid;
border-width: 1px;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
background-color: #fff;

padding:5px;
padding-left:15px;
padding-right:10px;


color:#526060;

text-align: left;

font-family: 'Open Sans', sans-serif;
font-size: 12px;
min-height:15px;

}*/


#search_request:hover,#tsearch_request_:focus,#search_request_:hover{
border:1px solid teal;}

#search_request:focus,#tsearch_request_:focus,#search_request_:focus{
border:2px solid teal;}




#img{
min-width:70px;
text-align:center;
}

#name{
font-family: 'Open Sans', sans-serif;
font-size: 12px;
min-width:90px;
text-align:center;

}
#brand{
font-family: 'Open Sans', sans-serif;
font-size: 12px;
min-width:90px;
text-align:center;
}
#cost{
font-family: 'Open Sans', sans-serif;
font-size: 12px;
min-width:40px;
text-align:center;
}
#sale{
font-family: 'Open Sans', sans-serif;
font-size: 12px;
min-width:40px;
text-align:center;
}
#comments{
font-family: 'Open Sans', sans-serif;
font-size: 12px;
min-width:40px;
text-align:center;
}
#rating{
font-family: 'Open Sans', sans-serif;
font-size: 12px;
min-width:40px;
text-align:center;
}








#img_1_,#img_2_ {
padding-left:10px;
padding-right:10px;
text-align:center;
}

#name_1,#name_6 {
padding-left:1px;
font-family: 'Open Sans', sans-serif;
font-size: 12px;
min-width:70px;
max-width:70px;
text-align:center;
}

#brand_1,#brand_6 {
padding-left:1px;
font-family: 'Open Sans', sans-serif;
font-size: 12px;
min-width:50px;
max-width:50px;
text-align:center;
}
#cost_1,#cost_6 {
padding-left:1px;
font-family: 'Open Sans', sans-serif;
font-size: 12px;
min-width:40px;
max-width:40px;
text-align:center;
}


/* Header */
/*#header_it{
background-color: red;
color: yellow;
}*/

/* Bodys */
#body_i_1{

border-radius: 4px;

}
#body_i_2{
border-radius: 4px;

}

#name {


}


#scrollAreaWidgetContents_2 QTextEdit{
border:none;

color: #001916;
}

/*#body__1{

border-bottom: 1px solid #001D4D;
}*/
#body__1:hover{
color:red;
}


/*#scrollAreaWidgetContents_2 QWidget{
color:red;

}*/
/*#scrollAreaWidgetContents_2 QWidget:hover{
color:#009985;

}*/

#scrollAreaWidgetContents_2 QWidget:hover{
color:#009985;

}



/*#bgitems_2 QWidget:hover QPlainTextEdit{
color:#009985;

}*/



#tble_hist_cst,#t_tble_hist_cst_2{
border: none;
font-family: 'Open Sans', sans-serif;
text-align:center;
font-size: 13px;
margin-top:10px;
}

QTableView{
margin-left: 30px;

}
/*QTableWidget{
border: 1px solid gray;
}*/
QHeaderView::section
{
background-color: purple;
}
